@import "reset.css";

// Variables
// Colors
:root {
  --color-elements: hsl(0, 0%, 100%);
  --color-text: hsl(200, 15%, 8%);
  --color-input: hsl(0, 0%, 52%);
  --color-bg: hsl(0, 0%, 98%);
  --color-shadow: rgba(124, 124, 124, 0.521);
}

// Dark Mode Colors
html.dark {
  --color-elements: hsl(209, 23%, 22%);
  --color-bg: hsl(207, 26%, 17%);
  --color-input: hsl(0, 0%, 52%);
  --color-text: hsl(0, 0%, 100%);
  --color-shadow: hsl(208, 26%, 13%);
}

$color-elements: var(--color-elements);
$color-text: var(--color-text);
$color-input: var(--color-input);
$color-bg: var(--color-bg);
$color-shadow: var(--color-shadow);

// Fonts
$font-size-homepage-items: 0.9rem;
$font-size-detail-page: 1rem;

$font-family: "Nunito Sans", Helvetica, Arial, sans-serif;

$font-weight-300: 300;
$font-weight-600: 600;
$font-weight-800: 800;

// Styling
:root,
body,
button,
input {
  font-family: $font-family;
  color: $color-text;
  background-color: $color-bg;
}

.card,
.card-body {
  background-color: $color-bg;
}

.no-focus-outline a:focus,
.no-focus-outline button:focus {
  outline: none;
}

@mixin wrapper($padding: 40px) {
  padding-left: $padding !important;
  padding-right: $padding !important;
}

@mixin shadow-medium {
  box-shadow: 0 0 6px 0 $color-shadow;
}

@mixin bg-img {
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin button-default {
  background-color: $color-elements;
  padding: 15px;
  border-radius: 0.3em;
  box-sizing: border-box;
  font-size: $font-size-homepage-items;
}

button {
  @include button-default();
}

// Navigation Bar
nav {
  background-color: $color-elements;
  @include wrapper;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  padding: 20px 0;

  box-shadow: 0 0 2px 2px $color-shadow;

  .home {
    text-decoration: none;
  }

  .home:visited {
    color: unset;
  }

  h1 {
    font-size: 1.3em;
    padding: 0.2rem 0;
    font-weight: $font-weight-800;
    color: $color-text;
  }

  #button-darkmode {
    border: none;
    background-color: unset;
    font-weight: $font-weight-800;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.2rem 0;
    i {
      font-size: 1.3em;
      margin-right: 5px;
    }

    p {
      font-size: $font-size-homepage-items;
      display: inline;
    }
  }
}

// Cardlist
.cardlist {
  @include wrapper;
  box-sizing: border-box;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  -moz-column-gap: 2.5em;
  column-gap: 2.5em;
}

// Card
.card {
  @include shadow-medium;
  margin-top: 2em;
  margin-bottom: 3em;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 0.5em;

  a {
    @include bg-img();
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    height: 10em;
  }

  .card-body {
    flex-grow: 1;
    padding: 30px 20px;
    background-color: $color-elements;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;

    .card-title {
      font-size: 1.4em;
      font-weight: $font-weight-800;
      margin-bottom: 1em;
    }

    .card-info {
      li {
        display: flex;
        margin-bottom: 0.5em;
        h3 {
          font-weight: $font-weight-600;
          padding-right: 0.3em;
        }
      }
    }
  }
}

// Filtering
.filters {
  @include wrapper;

  margin: 2.5em 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  // Search
  .searchbar {
    @include shadow-medium();
    @include button-default();
    display: flex;
    align-items: center;
    width: 25em;

    i {
      color: $color-text;
      color: $color-input;
      padding-left: 1.2em;
      margin-right: -1.2em;
      z-index: 5;
    }

    input {
      flex-grow: 1;
      color: $color-text;
      font-weight: $font-weight-800;
      font-size: $font-size-homepage-items;
      background-color: unset;
      padding: 0;
      padding-left: 3.6em;
      margin-left: -1.2em;
      height: 100%;
      border: none;
    }

    input:focus {
      outline: none;
    }

    input::-webkit-input-placeholder {
      color: $color-input;
    }

    input::-moz-placeholder {
      color: $color-input;
    }

    input:-ms-input-placeholder {
      color: $color-input;
    }

    input::-ms-input-placeholder {
      color: $color-input;
    }

    input::placeholder {
      color: $color-input;
    }
  }

  // Region filter
  .filter-region {
    position: relative;
    margin-bottom: -0.3em;

    .filter-region-label {
      @include shadow-medium();
      @include button-default;
      font-weight: $font-weight-600;
      position: relative;
      border: none;
      cursor: pointer;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      white-space: nowrap;

      a {
        padding: 0;
        width: 7em;
        text-align: left;
      }
      i {
        padding: 0;
        margin-left: 3em;
      }
    }

    .filter-region-label-container {
      margin-bottom: 0.3em;
    }

    .filter-region-options {
      @include button-default;
      @include shadow-medium;
      background-color: $color-elements;
      visibility: hidden;
      width: 100%;
      position: absolute;
      display: flex;
      flex-flow: column nowrap;

      button {
        border: none;
        padding: 0.4em;
        border-radius: 0.3em;
        text-align: left;
        background-color: unset;
        cursor: pointer;
      }

      button:hover {
        background-color: $color-shadow;
      }
    }
  }
}

// Country Detail page
.country-detail-container {
  @include wrapper();
  padding-top: 3em;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  button {
    @include button-default();
    @include shadow-medium();
    background-color: $color-elements;
    padding: 0.7em 2em;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-bottom: 0.9em;
  }

  .back {
    width: 10em;
    margin-bottom: 3em;
    a {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: $color-text;
      outline: none;

      p {
        margin-left: 0.5em;
      }
    }
  }

  // Card
  .country-detail {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    -moz-column-gap: 3em;
    column-gap: 6em;
    font-family: $font-family;

    .card-img {
      @include shadow-medium();
      @include bg-img();
      min-height: 200px;
      height: 25vw;
      min-width: 400px;
      width: 40%;
    }

    .card-body {
      width: 50%;
      box-sizing: border-box;

      .card-title {
        font-weight: $font-weight-800;
        font-size: 2em;
        padding: 1em 0;
      }

      .card-info {
        display: flex;
        flex-flow: column wrap;

        .divider {
          box-sizing: border-box;
          display: flex;
          -moz-column-gap: 2em;
          column-gap: 2em;
          div {
            width: 50%;

            li {
              display: flex;
              font-size: $font-size-detail-page;
              padding-bottom: 1em;

              h3 {
                padding-right: 0.3em;
                font-weight: $font-weight-600;
              }
            }
          }
        }

        .bordercountries {
          margin-top: 1.5em;
          font-weight: $font-weight-600;
          display: flex;
          flex-flow: column nowrap;
          row-gap: 1.2em;

          a {
            margin-right: 0.7em;
          }
        }
      }
    }
  }
}

/* Media Queries */
@media only screen and (max-width: 1024px) {
  body {
    padding-bottom: 4em;
  }

  .country-detail-container {
    // Card
    .country-detail {
      display: flex;
      flex-flow: column wrap;

      .card-img {
        height: 45vw;
        width: 100%;
        min-width: unset;
        min-height: unset;
      }

      .card-body {
        width: 100%;
        padding: 0;

        .divider {
          row-gap: 2em;
          flex-flow: row wrap;
        }

        .card-title {
          font-weight: $font-weight-800;
          font-size: 1.5em;
          padding: 1.5em 0;
        }

        li {
          font-size: 1em;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  nav {
    @include wrapper(30px);
  }

  .filters {
    @include wrapper(30px);
    flex-flow: column wrap !important;
    row-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    margin-top: 1.5em;
    margin-bottom: 0.5em;

    .searchbar {
      width: 100% !important;
    }

    .filter-region {
      width: 60% !important;
      .filter-region-label {
        width: 100% !important;
      }
      .filter-region-label-container {
        width: 100% !important;
      }
    }
  }

  .card {
    margin: 1.5em 0;
  }

  .country-detail-container {
    @include wrapper(30px);
    padding-top: 1.5em;

    // Card
    .country-detail {
      .card-body {
        .divider {
          flex-flow: column wrap;
          div {
            width: 100% !important;
          }
        }

        .bordercountries {
          h3 {
            padding-bottom: 10px !important;
          }
        }
      }
    }
  }
}
