@import "reset.css";

// Variables
// Colors
$color-darkmode-elements: hsl(209, 23%, 22%);
$color-darkmode-bg: hsl(207, 26%, 17%);
$color-darkmode-text: hsl(0, 0%, 100%);

$color-lightmode-elements: hsl(0, 0%, 100%);
$color-lightmode-text: hsl(200, 15%, 8%);
$color-lightmode-input: hsl(0, 0%, 52%);
$color-lightmode-bg: hsl(0, 0%, 98%);

// Fonts
$font-size-homepage-items: 0.9rem;
$font-size-detail-page: 1.2rem;

$font-family: "Nunito Sans", Helvetica, Arial, sans-serif;

$font-weight-300: 300;
$font-weight-600: 600;
$font-weight-800: 800;

// Styling
body {
  background-color: $color-lightmode-bg;
}

@mixin wrapper {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

@mixin shadow-medium {
  box-shadow: 0 0 8px 0 rgba(141, 141, 141, 0.308);
}

// Navigation Bar
nav {
  @include wrapper;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: white;
  padding: 20px 0;

  box-shadow: 0 0 2px 2px rgba(138, 138, 138, 0.26);

  .home {
    text-decoration: none;
  }

  .home:visited {
    color: unset;
  }

  h1 {
    font-size: 1.3em;
    font-weight: $font-weight-800;
  }

  #button-darkmode {
    border: none;
    background-color: unset;
    display: flex;
    align-items: center;
    cursor: pointer;

    i {
      font-size: 1.3em;
      margin-right: 5px;
    }

    p {
      font-size: $font-size-homepage-items;
      display: inline;
    }
  }
}

// Cardlist
.cardlist {
  @include wrapper;
  box-sizing: border-box;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  -moz-column-gap: 2.5em;
  column-gap: 2.5em;
}

// Card
.card {
  @include shadow-medium;
  margin-top: 2em;
  margin-bottom: 3em;
  border-radius: 0.5em;
  background-color: white;

  display: flex;
  flex-flow: column nowrap;

  a {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    height: 10em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .card-body {
    margin: 30px 20px;

    .card-title {
      font-size: 1.4em;
      font-weight: $font-weight-800;
      margin-bottom: 1em;
    }

    .card-info {
      li {
        display: flex;
        margin-bottom: 0.5em;
        h3 {
          font-weight: $font-weight-600;
          padding-right: 0.3em;
        }
      }
    }
  }
}

@mixin filter-box {
  @include shadow-medium;
  padding: 15px;
  background-color: white;
  border-radius: 0.3em;
  box-sizing: border-box;
  font-size: $font-size-homepage-items;
}

// Filtering
.filters {
  @include wrapper;
  margin: 2.5em 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  // Search
  .searchbar {
    display: flex;
    align-items: center;
    color: $color-lightmode-input;

    i {
      padding-left: 1.2em;
      margin-right: -1.2em;
      z-index: 5;
    }

    input {
      @include filter-box;
      width: 25em;
      padding: 0;
      padding-left: 3.6em;
      margin-left: -1.2em;
      height: 100%;
      border: none;
      font-size: $font-size-homepage-items;
      font-weight: $font-weight-600;
    }
    input:focus {
      outline: none;
    }
  }

  // Region filter
  .filter-region {
    position: relative;
    margin-bottom: -0.3em;

    .filter-region-label {
      @include filter-box;
      position: relative;
      border: none;
      cursor: pointer;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      white-space: nowrap;

      a {
        padding: 0;
      }
      i {
        padding: 0;
        margin-left: 3em;
      }
    }

    .filter-region-label-container {
      padding-bottom: 0.3em;
    }

    .filter-region-options {
      @include filter-box;
      visibility: hidden;
      width: 100%;
      position: absolute;
      display: flex;
      flex-flow: column nowrap;

      button {
        border: none;
        padding: 0.4em;
        border-radius: 0.3em;
        text-align: left;
        background-color: unset;
        cursor: pointer;
      }

      button:hover {
        background-color: rgb(224, 224, 224);
      }
    }
  }
}

/* Media Queries */
@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 1440px) {
}
